
# our  first class

this is our first class

In [11]:
print("Hello PIAIC")

Hello PIAIC

In [12]:
print('Hello PIAIC')

Hello PIAIC

In [13]:
print("helofrendschaipeelo",'zain',True,sep=' ')

helofrendschaipeelo zain True

In [14]:
print(123,'Hello',False,123.3)

123 Hello False 123.3

In [15]:
print(123, 'hello', False, 12.3, sep=" ")

123 hello False 12.3

In [16]:
print("hello")
print("world",end='\n\n''hfhf')
print("welcome")

hello
world

hfhfwelcome

In [17]:
name='zain'

In [18]:
print(name)

zain

In [19]:
id(name)

770817806888

In [20]:
$mame=0

SyntaxError: invalid syntax (<ipython-input-20-9acffb45552b>, line 1)

In [ ]:
_ = 0

In [ ]:
_

In [ ]:
v=0

In [ ]:
v='gg'

In [ ]:
print(v)

In [ ]:
x=2

In [ ]:
x+=4

In [ ]:
x

# Concatenation

In [22]:
str(x)

'6'

In [21]:
x

6

In [66]:
x=2
y='2'

In [67]:
z=int(y)+x
z

4

In [68]:
z=str(x)+y
z

'22'

In [23]:
float(x)

6.0

In [25]:
x='zain '

In [26]:
int(x)

ValueError: invalid literal for int() with base 10: 'zain '

In [76]:
x

'zain '

In [77]:
print(x)

zain

In [78]:
age=23

In [ ]:
age=23
name='shazad'
print('my name is ' +name+' and my age is '+str(age))

In [ ]:
age=input('What is your age')
name=input('what is your name')
print('my name is ' +name+' and my age is '+str(age))

In [2]:
age=input('What is your age')
name=input('what is your name')
print('my name is {} and my age is {}'.format(name,age))

What is your age1
what is your nameaa
my name is aa and my age is 1
my name is aa and my age is 1

In [1]:
age=input('What is your age')
name=input('what is your name')
print('my name is {0} and my age is {1}'.format(name,age))

What is your age12
what is your namezain
my name is zain and my age is 12
my name is zain and my age is 12

In [4]:
age=input('What is your age')
name=input('what is your name')
print(f'my name is {name} and my age is {age}')

What is your age1
what is your namea
my name is a and my age is 1
my name is a and my age is 1

In [ ]:
print(x)

In [3]:
print('zain')

zain